.blog_detail {
    background-color: #f5f5f5;
    padding: 19px;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    box-shadow: 1px 1px 5px rgba(97,97,97,.48);
    text-align: left;
}

.tag {
    color: #337ab7;
}

.tag:hover {
    color: #23527c;
}

.blog_title {
    font-size: 20px;
    color: #13102B;
    margin-bottom: 10px;
}

.blog_title:hover {
    color: #23527c;
    cursor: pointer;
}

.blog_msg {
    font-size: 14px;
    color: #333333;
    margin-bottom: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #b9b9b9;
}

.blog_content {
    padding: 0px 20px;
    font-size: 14px;
    color: #333333;
    word-break: break-word;
    word-wrap: break-word;
    overflow: hidden;
}

.blog_comments {
    text-align: left;
}

.blog_comments_msg {
    width: 100%;
    display: inline-block;
    margin: 20px 0px 10px 0px;
    font-size: 16px;
    color: #333333;
}

.blog_comment {
    background-color: #d9edf7;
    border: 1px solid #abcdef;
    border-radius: 4px;
    padding: 10px;
    color: #31708f;
    font-size: 14px;
    margin-bottom: 10px;
}

.blog_comment p {
    margin: 15px 0px 8px 0px;
}
